# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtualenv
.venv/
venv/
ENV/
env/

# Django
*.log
local_settings.py
db.sqlite3
media/
storage/
staticfiles/

# Environment files
.env
.env.*

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
