{% extends "_base_core.html" %}

{% block body_class %}bg-light{% endblock %}

{% block body %}
  {% include "partials/navbar.html" with navbar_mode="private" %}

  <main class="container-fluid px-0">
    <div class="row g-0">
      <aside class="col-12 col-lg-3 col-xl-2 bg-white border-end">
        <div class="p-3 p-lg-4">
          {% include "partials/private_sidenav.html" %}
        </div>
      </aside>

      <section class="col-12 col-lg-9 col-xl-10">
        <div class="p-3 p-md-4">
          {% include "partials/messages.html" %}
          {% block content %}{% endblock %}
        </div>
      </section>
    </div>
  </main>

  {% include "partials/footer.html" %}
  {% include "partials/confirm_delete_modal.html" %}
{% endblock %}
