{% extends "layouts/auth_base.html" %}

{% block title %}Set new password | FindIt{% endblock %}

{% block auth_icon %}
<i class="bi bi-key fs-4 text-primary"></i>
{% endblock %}

{% block auth_title %}Set a new password{% endblock %}
{% block auth_subtitle %}Choose a strong password you’ll remember.{% endblock %}

{% block auth_body %}
<form method="post" novalidate>
  {% csrf_token %}
  {{ form.non_field_errors }}

  <div class="mb-3">
    <label class="form-label" for="id_new_password1">New password</label>

    <div class="input-group">
      <input type="password" name="new_password1" id="id_new_password1"
        class="form-control {% if form.new_password1.errors %}is-invalid{% endif %}" required
        autocomplete="new-password" />

      <button class="btn btn-outline-secondary" type="button" data-password-toggle data-target="#id_new_password1"
        aria-label="Show" title="Show/Hide">
        <i class="bi bi-eye" data-role="icon"></i>
        <span class="ms-1 d-none d-sm-inline" data-role="label">Show</span>
      </button>
    </div>

    {% if form.new_password1.errors %}
    <div class="invalid-feedback d-block">{{ form.new_password1.errors|striptags }}</div>
    {% endif %}
  </div>

  <div class="mb-3">
    <label class="form-label" for="id_new_password2">Confirm password</label>

    <div class="input-group">
      <input type="password" name="new_password2" id="id_new_password2"
        class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}" required
        autocomplete="new-password" />

      <button class="btn btn-outline-secondary" type="button" data-password-toggle data-target="#id_new_password2"
        aria-label="Show" title="Show/Hide">
        <i class="bi bi-eye" data-role="icon"></i>
        <span class="ms-1 d-none d-sm-inline" data-role="label">Show</span>
      </button>
    </div>

    {% if form.new_password2.errors %}
    <div class="invalid-feedback d-block">{{ form.new_password2.errors|striptags }}</div>
    {% endif %}
  </div>


  <button class="btn btn-primary w-100" type="submit">
    <i class="bi bi-check2-circle me-1"></i> Update password
  </button>
</form>
{% endblock %}